html {  
    height: 100vh;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #2d3436;  
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);  
    font-family: 'Cookie', cursive;  
  }  
  
  input[type=button] {  
    width: 60px;  
    height: 60px;  
    float: left;  
    padding: 0;  
    margin: 5px;  
    box-sizing: border-box;  
    background: #ecedef;  
    border: none;  
    font-size: 30px;  
    line-height: 30px;  
    border-radius: 50%;  
    font-weight: 700;  
    color: #5E5858;  
    cursor: pointer;    
  }  
  input[type=text] {  
    width: 270px;  
    height: 60px;  
    float: left;  
    padding: 0;  
    box-sizing: border-box;  
    border: none;  
    background: none;  
    color: red;  
    text-align: right;  
    font-weight: 700;  
    font-size: 60px;  
    line-height: 60px;  
    margin: 0 25px;  
    }  
 
  #display {  
    height: 40px;  
    text-align: right;  
    background-color: black;  
    border: 3px solid white;  
    font-size: 18px;  
    left: 2px;  
    top: 2px;  
    color: rgb(0, 255, 170);  
  }  
  .btnTop {  
    color: white;  
    background-color: #6f6f6f;  
    font-size: 14px;  
    margin: auto;  
    width: 50px;  
    height: 25px;  
  }